:root {
  /* COLORS */
  --primaryColor: #1B5C22;
  --secondaryColor: #FBDE18;
  --tertiaryColor: #2E2E30;
  --transparentColor: rgba(27,92,34,0.5);
  --blackColor: #2E2E30;
  --whiteColor: #FFFFFF;
  --lightGrayColor: #797979;
  --borderColor: #1B5C22;

  /* BACKGROUNDS */
  --backgroundUrl: center center repeat #000 url('');
  --backgroundSize: 200px;

  /* TYPOGRAPHY */
  --headerFontFace: sans-serif;
  --bodyFontFace: sans-serif;
  --footerJustifyContent: center;

  /* RESPONSIVE BREAKPOINTS & FIXES */
  --smallMaxWidth: 100%;
  --largeMaxWidth: 100%;
  --smallWidth: 90%;
  --largeWidth: 80%;
  --smallPostLeftMargin: 2%;
  --largePostLeftMargin: 4%;

  /* MARGINS AND PADDINGS */
  --marginTop: 2rem;
  --marginBottom: 2rem;
}
