
#GatsbyBody.backdrop {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

/* ---- WordPress fixes for styling that comes from php ---- */

#GatsbyBody:not(.overlay-header) .primary-menu > li > a,
body:not(.overlay-header) .primary-menu > li > .icon,
.modal-menu a,
.footer-menu a,
.footer-widgets a,
#site-footer .wp-block-button.is-style-outline,
.wp-block-pullquote:before,
.singular:not(.overlay-header) .entry-header a,
.archive-header a,
.header-footer-group .color-accent,
.header-footer-group .color-accent-hover:hover {
  color: var(--primaryColor);
}

.site-description,
#GatsbyBody:not(.overlay-header) .toggle-inner .toggle-text,
.widget .post-date,
.widget .rss-date,
.widget_archive li,
.widget_categories li,
.widget cite,
.widget_pages li,
.widget_meta li,
.widget_nav_menu li,
.additional-text,
.to-the-top,
.singular .entry-header .post-meta,
.singular:not(.overlay-header) .entry-header .post-meta a {
  color: var(--lightGrayColor);
}

/* ---- WordPress fixes for Gatsby ---- */
/* HOVER OVERRIDE - REMOVE FROM MOBILE */
@media (max-width: 700px) {
  :hover {
    background-color: inherit !important;
    border: inherit !important;
    color: inherit !important;
    text-decoration: inherit !important;
  }
}
/* GALLERIES */
.gallery,
.wp-block-gallery ul {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery-item {
  margin-right: 10px;
}
.gallery .gatsby-image-wrapper,
.wp-block-gallery .gatsby-image-wrapper {
  height: 100%;
}

/* COLUMNS */
@media (max-width: 700px) {
  .wp-block-columns {
    display: block !important;
  }
  .wp-block-columns .wp-block-column {
    width: 100%;
  }
}

/* COVER IMAGES */
.wp-block-cover.alignfull,
[class*="__inner-container"] > *:not(.alignwide):not(.alignleft):not(.alignright):not(.is-style-wide),
.wp-block-cover-image .wp-block-cover__inner-container, .wp-block-cover .wp-block-cover__inner-container  {
  width: 100%;
  min-width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wp-block-cover-image,
.wp-block-cover {
  min-height: auto !important;
}
.wp-block-cover.alignfull {
  min-height: 90vh !important;
  background-position: center;
  background-size: cover;
}
.wp-block-cover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blackColor);
  opacity: .7;
}
.wp-block-cover > * {
  z-index: 2;
  color: var(--whiteColor);
  /* text-shadow: 0px 0px 4px rgba(150, 150, 150, 1); */
}
.wp-block-cover,
.wp-block-cover:after {
  height: 60vh;
}
.wp-block-cover {
  background-size: cover;
}
@media (max-width: 900px) {
  .wp-block-cover {
    background-position-x: -250px;
  }
}
.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
  position: relative;
  width: 80%;
  max-width: 80%;
  text-align: center;
  padding: 0 10%;
}
.wp-block-cover h2 {
  font-size: 3rem;
  /* text-shadow: 1px 1px 4px rgba(255,255,255, 0.7);; */
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wp-block-cover h3 {
  font-size: 1.75rem;
}
.entry-content > .alignwide:not(.wp-block-group.has-background), .entry-content > .alignfull:not(.wp-block-group.has-background) {
  margin-bottom: 0px;
}
.wp-block-cover-image.has-background-dim:not(.has-background-gradient)::before, .wp-block-cover-image .wp-block-cover__gradient-background, .wp-block-cover.has-background-dim:not(.has-background-gradient)::before, .wp-block-cover .wp-block-cover__gradient-background {
  z-index: 0 !important;
}

/* IMAGES */
.alignfull .gatsby-image-wrapper {
  width: 100% !important;
}

/* BUTTONS */
.wp-block-button .wp-block-button__link {
  font-size: 1.25rem !important;
}
.wp-block-button__link,
.wp-block-group:nth-of-type(even) .wp-block-button__link {
  background-color: var(--primaryColor) !important;
}
.wp-block-group:nth-of-type(odd) .wp-block-button__link {
  background-color: var(--secondaryColor) !important;
  color: var(--blackColor) !important;
}
.wp-block-buttons.aligncenter {
  display: block;
  text-align: center;
}

/* GROUPS */
.wp-block-group {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0px !important;
  padding: 2rem 20% !important;
}
@media (max-width: 700px) {
  .wp-block-group {
    padding: 2rem 10% !important;
  }
}
.wp-block-group:nth-of-type(even) {
  background-color: var(--whiteColor) !important;
  color: var(--blackColor) !important;
}
.wp-block-group:nth-of-type(even) h3 {
  margin-bottom: 3rem !important;
  color: var(--primaryColor) !important;
  border-bottom: 1px solid var(--primaryColor) !important;
}
.wp-block-group:nth-of-type(odd),
.wp-block-group.offset-color-group {
  background-color: var(--blackColor) !important;
  color: var(--whiteColor) !important;
}
.wp-block-group:nth-of-type(odd) h3,
.wp-block-group.offset-color-group h3 {
  margin-bottom: 3rem !important;
  color: var(--secondaryColor) !important;
  border-bottom: 1px solid var(--secondaryColor) !important;
}

/* COLUMNS - FULL WIDTH */
.wp-block-columns.alignfull {
  max-width: 100% !important;
  width: 100% !important;
  max-height: 60vh !important;
  margin: 0px !important;
  padding: 0px !important;
}
.wp-block-columns.alignfull .wp-block-column {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.wp-block-columns.alignfull .wp-block-column .wp-block-cover,
.wp-block-columns.alignfull .wp-block-column .wp-block-cover:after {
  height: 60vh;
  max-height: 60vh;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
@media (max-width: 700px) {
  .wp-block-columns.alignfull,
  .wp-block-columns.alignfull .wp-block-column .wp-block-cover,
  .wp-block-columns.alignfull .wp-block-column .wp-block-cover:after {
    max-height: none !important;
    margin-bottom: 0px !important;
  }
}
.wp-block-columns.alignfull .wp-block-column .wp-block-cover:after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--blackColor);
  opacity: .7;
}
.wp-block-columns.alignfull .wp-block-column .wp-block-cover .gatsby-image-wrapper {
  width: 60px !important;
}
.wp-block-columns.alignfull .wp-block-column .wp-block-cover a {
  color: white !important;
  text-decoration: none !important;
  font-weight: 400;
  /* text-shadow: 0px 1px 2px rgba(150, 150, 150, 1); */
}
.wp-block-columns.alignfull .wp-block-column .wp-block-cover ul li {
  font-size: 1.25rem;
  list-style: none;
}
.wp-block-columns.alignfull.friends .wp-block-cover {
  background-position-x: -250px;
}


/* COLUMNS - INSIDE GROUP WITH TILES */
.wp-block-group.tile-group .wp-block-group__inner-container .wp-block-columns .wp-block-column {
  background-color: var(--primaryColor);
  margin: 1rem;
  padding: 1rem;
}
@media (max-width: 700px) {
  .wp-block-group.tile-group .wp-block-group__inner-container .wp-block-columns {
    margin: 0px;
  }
  .wp-block-group.tile-group .wp-block-group__inner-container .wp-block-columns .wp-block-column {
    margin: 10px 0px;
  }
  .wp-block-group.tile-group .wp-block-group__inner-container .wp-block-columns .wp-block-column.hidden-column {
    display: none;
  }
}
.wp-block-group.tile-group .wp-block-group__inner-container .wp-block-columns .wp-block-column.hidden-column {
  visibility: hidden;
}
.wp-block-group.tile-group .wp-block-group__inner-container .wp-block-columns .wp-block-column p {
  font-size: 1rem;
  font-weight: bold;
}
/* COLUMNS - INSIDE GROUP WITH TILES - BOTTOM ROW OF 3 COLUMNS */
.wp-block-group.tile-group.bottom-3 .wp-block-columns  {
  flex-direction: row !important;
}
.wp-block-group.tile-group.bottom-3 .wp-block-columns .wp-block-column h4 {
  font-size: 2rem;
  color: var(--secondaryColor);
  padding: 0px 10px;
}
.wp-block-group.tile-group.bottom-3 .wp-block-columns .wp-block-column p {
  font-size: 1.5rem;
}
.wp-block-group.tile-group.bottom-3 .wp-block-columns .wp-block-column .gatsby-image-wrapper {
  width: 160px !important;
}

/* HOVER ICONS */
.hover-icons .wp-block-image,
.hover-icons .wp-block-image figure,
.hover-icons .wp-block-image .gatsby-image-wrapper  {
  width: 238px !important;
  margin: 0px auto !important;
}
.hover-icons .wp-block-image,
.hover-icons .wp-block-image img {
  width: 200px !important;
  height: 160px !important;
  object-fit: contain !important;
}
@media (max-width: 700px) {
  .hover-icons .wp-block-image,
  .hover-icons .wp-block-image img {
    height: 100px !important;
  }
}
.hover-icons p {
  padding: 1rem;
  height: 140px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.hover-icons .wp-block-buttons,
.hover-icons .wp-block-buttons .wp-block-button {
  margin-top: 0px !important;
}

/* BLOG GROUP */
.blog-group,
.blog-group li {
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
  line-height: 50%;
}
@media (min-width: 700px) {
  .wp-block-latest-posts.columns-4 li {
    width: 25% !important;
  }
}
.wp-block-latest-posts.columns-4 li a {
  position: relative;
  left: 8px;
  top: -40px;
  width: 80%;
  color: var(--whiteColor);
  font-size: 1.25rem;
  line-height: normal;
  /* text-shadow: 0px 1px 2px rgba(150, 150, 150, 1); */
}
.wp-block-latest-posts.columns-4 li time {
  position: relative;
  top: -60px;
  left: 4px;
}
.wp-block-latest-posts__list {
  background-color: var(--tertiaryColor);
}
.blog-roll-wrapper .entry-categories-inner a {
  display: none !important;
}
.blog-roll-wrapper h2.entry-title {
  font-size: 3rem !important;
  padding-top: 4rem;
}
.blog-header-inner h1.entry-title {
  font-size: 4rem !important;
}
.blog-roll-wrapper .post-inner a {
  color: var(--primaryColor);
  margin: auto;
}
.blog-roll-wrapper .post-inner a {
  color: var(--primaryColor);
  margin: auto;
  display: block;
  width: 200px;
  text-align: center;
}

/* BLOG POSTS */
article.post h1.entry-title {
  font-size: 4rem;
  max-width: 80%;
  margin: 20px auto;
}
.pagination-single-inner a {
  color: var(--primaryColor);
}
nav.pagination span,
nav.pagination a {
  color: var(--primaryColor);
}

/* OUR STAFF */
.our-staff .wp-block-columns {
  flex-direction: row !important;
}
.our-staff h4 {
  font-size: 2rem;
}

/* TILE COLUMNS */
.tile-columns h4 {
  font-size: 1.5rem;
}
.tile-columns p {
  font-size: 1.25rem !important;
}
.tile-columns .wp-block-image,
.tile-columns .wp-block-image img {
  max-width: 80px !important;
  max-height: 80px !important;
  width: 100% !important;
  height: 80px !important;
  object-fit: none !important;
  position: relative !important;
}
.tile-columns .gatsby-image-wrapper {
  margin-bottom: 2rem !important
}
.wp-block-image figure.aligncenter.size-full {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* LIST LINKS */
.wp-block-group__inner-container li a {
  color: var(--primaryColor);
}

/* IMAGES */
img {
  object-fit: contain !important;
}

/* BLOG */
.blog .post-inner a,
.blog-roll-wrapper .post-inner a {
  color: var(--primaryColor);
  margin: auto;
  display: block;
  width: 200px;
  text-align: center;
}

/* COVER BLOCK FIX */
.wp-block-cover.alignfull.has-background-dim.banner-background {
  padding: 0px !important;
}
.wp-block-cover.alignfull.has-background-dim.banner-background > .wp-block-cover__image-background {
  position: unset !important;
  overflow: visible !important;
}
.wp-block-cover.alignfull.has-background-dim.banner-background > .wp-block-cover__image-background > span {
  display: contents !important;
}
.wp-block-cover.alignfull.has-background-dim.banner-background > .wp-block-cover__image-background > picture > img {
  object-fit: cover !important;
}
.wp-block-cover.alignfull.has-background-dim > * {
  z-index: 100 !important;
}
.wp-block-cover.has-background-dim:after {
  z-index: 100 !important;
}

/* HEADER MENU FIX */
#site-header {
  z-index: 2000 !important;
}
@media (min-width: 1000px) {
  #site-header {
    z-index: 2000 !important;
  }
}
